@charset 'utf-8';

// Helpers Styles
@import "helpers/_mixins";
@import "helpers/_variables";

// Base Styles
@import "base/_normalize";
@import "base/_base";
@import "base/_typography";

// Components Styles
@import "components/_buttons";
@import "components/_forms";
@import "components/_navigation";

// Layout Styles
@import "layout/_header";
@import "layout/_footer";

// Sections Styles
@import "sections/_index";
@import "sections/_projects";
@import "sections/_hey_chef";
@import "sections/resume";
@import "sections/about";
@import "sections/associations";
@import "sections/contact";
@import "sections/crochet";
@import "sections/glass";
@import "sections/nails";

