/* ---------------
      education
----------------- */

.education_content{
      margin: 0px 8px;
      h2{
            margin-bottom: 16px;
            width: 100%;
            background-color: var(--LightGray);}
      h3{
            margin-bottom: 8px;}
      ul{
            margin-bottom: 16px;}
}

.top_info{
      margin-bottom: 8px;}

.sub_info{
      list-style: disc outside;
      margin-left: 32px;}