/* ---------------
      glass
----------------- */
#glass-proj-pg{
    h1{
        text-align: center;
        margin-bottom: 16px;}
  h2{
    margin: 24px 0px 10px;
        width: 100%;
        background-color: var(--LightGray);}
    img{
        height:450px;
    }
}