/* ---------------
      hey chef
----------------- */
#Getting_Started{
      img{
            width: 100%;
      }
}

#Defining_Further{
      img{
            width: 100%;
      }
}

#Increasing_Fidelity{
      video{
            width: 100%;
      }
}