/* ---------------
      index
----------------- */
h1{
      padding-bottom: 8px;
}

#index{
      padding: 0 16px;

      // img{
           // width: 150px;
      //}
}

#profile_pic{
      background-image: url("../img/portrait.jpg");
      background-size: cover;
      background-position: center;
      width: 200px;
      border-radius: 100%;
      height: 200px;
      margin: 16px auto 16px;
}

p{
      padding-bottom: 16px;
}
