/* ---------------
      projects
----------------- */



#chef{
      img{
      width: 100px;};   
      margin-top: 8px;
      display: grid;
      grid-template-columns: 16px 100px auto 16px;
      grid-template-areas:
      ". ci clm .";
}

.chef_icon{
      grid-area: ci;
}

.chef_learn_more{
      p{padding-bottom:8px;}
      margin-left: 24px;
      grid-area: clm;
}