/* ---------------
      projects
----------------- */

p{
      padding-bottom: 8px;
}

img{
      width: 100px;
}   

#chef{
      margin-top: 8px;
      display: grid;
      grid-template-columns: 16px 100px auto 16px;
      grid-template-areas:
      ". ci clm .";
}

.chef_icon{
      grid-area: ci;
}

.chef_learn_more{
      margin-left: 24px;
      grid-area: clm;
}