/* ---------------
      resume
----------------- */

.resume_content{
            margin: 0px 8px;
      h1{
            text-align:center;
            margin-bottom: 16px;}
      h2{
            margin-bottom: 16px;
            width: 100%;
            background-color: var(--LightGray);}
      p{
            margin-bottom: 16px;}
      
      }

.role_name{
      font-weight: 600;
      list-style: none;
      margin: 8px 0 8px;}

            
.role_description{
      list-style: disc outside;
      margin-left: 32px;}

.role_description_last{
      list-style: disc outside;
      margin: 0 0 24px 32px;
}

#CoreComp_TechSkills{
  @include md{
      display:grid;
      grid-template-columns: 50% auto; 
      grid-template-areas:
      "cc ts"}
}
      
#Core_Competencies{
      @include md{
            grid-area: cc;}   
}

#Technical_Skills{
      @include md{
            grid-area: ts;}
}

.download-link{
      margin-bottom: 16px;
}

