/* =============
    Footer
============= */
footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  background-color: var(--LightGray);
  font-size: rem-calc(16);
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 24px;
}
.social-icons li {
  margin: 0 16px;
}
.social-icons li a:link, .social-icons li a:visited {
  color: var(--black);
  text-decoration: none;
  font-size: rem-calc(18);
}
.social-icons li a:hover, .social-icons li a:active {
  color: var(--DarkGray);
}