/* =============
    Header
============= */

header{
    padding: 24px 0;
    text-align: center;
    //font-size: 24px;
    font-size: rem-calc(24);
    display: grid;
   // grid-template-columns: 50% auto;
    grid-template-areas: 
    "burger"
    "nav";
    padding: 16px 0px;
    position: fixed;
    height: 140px;
    width: 100%;
    background-color: var(--DarkGray);
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(42, 48, 54, 0.3);
    top: 0;
    left: 0;

    @include sm{
        grid-template-areas: "nav";
        padding-bottom: 0;
    }

    #burger-container{
        grid-area: burger;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: var(--LightGray);
        padding: 16px 0;

        @include sm{
            display: none;
        }

        button{
            border: none;
            background-color: transparent;
            color: black;
            font-size: rem-calc(16);
            cursor: pointer;

            i{
                padding-right: 8px;
            }
        }
    } 

    nav{
        grid-area: nav;
    }
}
