/* ---------------
      projects
----------------- */
#chef {
  margin-top: 8px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16px 100px auto 16px;
  grid-template-columns: 16px 100px auto 16px;
      grid-template-areas: ". ci clm .";
}
#chef img {
  width: 100px;
}

.chef_icon {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ci;
}

.chef_learn_more {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  margin-left: 24px;
  grid-area: clm;
}
.chef_learn_more p {
  padding-bottom: 8px;
}