/* ---------------
      projects
----------------- */
#projects-page h1 {
  text-align: center;
  margin-bottom: 16px;
}
#projects-page h2 {
  margin-bottom: 16px;
  width: 100%;
  background-color: var(--LightGray);
}

.role_description {
  list-style: disc outside;
  margin-left: 32px;
}

.role_description_last {
  list-style: disc outside;
  margin: 0 0 24px 32px;
}

.project-page-link {
  list-style: circle;
  margin-left: 80px;
}

.project-page-link2 {
  list-style: none;
  margin-left: 80px;
}

.project-page-link3 {
  list-style: none;
  margin-left: 80px;
}

.button-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--LightGray);
  padding: 15px 25px;
  margin-bottom: 16px;
  width: 175px;
  text-decoration: none;
  text-align: center;
}